In [17]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [18]:
df = pd.read_csv('data.csv')
df

             Имя  Лекции  Семинары  Зачет
0        Влад Г.       8         3    0.0
1       Артем К.       6         3    0.0
2     Валерия М.       8         8    1.0
3       Павел н.       3         3    0.0
4   Елизавета Р.       3         8    0.0
5        Кира С.       8         6    1.0
6        Амир Т.       4         8    0.0
7      Айгуль Х.       8         4    1.0
8       Лилия Х.       4         6    0.0
9        Илья ч.       6         8    1.0
10      Мария Ш.       4         3    0.0
11     Алишер Э.       3         4    0.0
12     Андрей В.       1         2    NaN
13      Дарья П.       1         7    NaN
14     Михаил С.       7         1    NaN
15      Елена Ш.       7         6    NaN

In [19]:
train_data = df[:12]
test_data = df[12:]
test_data

          Имя  Лекции  Семинары  Зачет
12  Андрей В.       1         2    NaN
13   Дарья П.       1         7    NaN
14  Михаил С.       7         1    NaN
15   Елена Ш.       7         6    NaN

In [25]:
tree_model = DecisionTreeClassifier()
tree_model.fit(train_data[['Лекции','Семинары']], train_data['Зачет'])

test_data['Зачет'] = tree_model.predict(test_data[['Лекции','Семинары']])
test_data

/var/folders/ft/pkyxbgxd5qqcsz8hx6b9xk480000gn/T/ipykernel_5476/855688394.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['Зачет'] = tree_model.predict(test_data[['Лекции','Семинары']])

          Имя  Лекции  Семинары  Зачет
12  Андрей В.       1         2    0.0
13   Дарья П.       1         7    0.0
14  Михаил С.       7         1    0.0
15   Елена Ш.       7         6    1.0

In [ ]:
import sys


def main():
    """
    Пример ввода и вывода числа n, где -10^9 < n < 10^9:
    n = int(input())
    print(n)
    """
    n, costs = int(input()), list(map(int,input().split()))

    X = int(input())
    combo_products = map(int,input().split())

    k, desired_products = int(input()), list(map(int, input().split()))

    opt, dif = 0, 0
    for prod in desired_products:
        opt +=costs[prod]
        if prod in combo_products:dif+=costs[prod]
    print(opt - dif + X if dif)

if __name__ == '__main__':
    main()

In [28]:
doubles_comb = [0, 1, 0, 2]
mask = [1, 2, 3, 4]
mask - doubles_comb

TypeError: unsupported operand type(s) for -: 'list' and 'list'